.light {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #4a4a4a;
}

.light.red {
    background-color: rgb(255, 59, 59);
    box-shadow: 0 0 20px 5px rgba(255, 59, 59, 0.8);
}

.light.yellow {
    background-color: rgb(255, 221, 87);
    box-shadow: 0 0 20px 5px rgba(255, 221, 87, 0.8);
}

.light.green {
    background-color: rgb(76, 175, 80);
    box-shadow: 0 0 20px 5px rgba(76, 175, 80, 0.8);
}